@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
html, body{
  height: 100%;
  background-image: url('../images/background.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.mainPage{
  font-family: "Lora", serif;
  color: #008000;
}

.backgroundContainer{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgb(28, 27, 27) 100%, rgb(26, 23, 23) 100%);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 20px;
  padding: 5px;
}

.md-form label.active {
  color: green !important;
}

.md-form textarea:focus {
  box-shadow: 0 1px 0 0 green !important;
  border-bottom: 2px solid green !important;
}

.md-form label.active {
  color: green !important;
}